/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Smooch+Sans&display=swap');

/*General style*/
* {
    box-sizing: border-box;
    background-color: #D4D6D6;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #000000;
    margin: 0;
    padding: 0;
}


/*Header*/
header {
    width: 100%;
    display: flex;
    position: fixed;
    padding: 10px 225px;
}

h1 {
    font-variant: small-caps;
    word-spacing: 15px;
}

/*Navigation bar*/
nav {
    width: 80%;
    margin-bottom: 0;
    margin-right: 350px;
    border-bottom: 1px solid black;
}

.nav_links {
    float: right;
    list-style: none;

}

.nav_links li {
    display: inline-block;
}

.nav_button {
    padding: 10px 20px;
    border: none;
    background-color: #D4D6D6;
    cursor: pointer;
    list-style: none;
    font-size: 125%;
    font-weight: 400;
    color: #D4D6D6;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

.nav_button:hover {
    color: #000000;
}

.nav_button:hover {
    background-color:rgba(0, 0, 0,);
}
/*END NAV BAR*/
/*END HEADER*/


/*Body Section*/
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 125%;
    background: transparent;
}

h4 {
    font-size: 90%;
    background: transparent;
}


p {
    font-size: 75%;
    background: transparent;
}


/*About Me Section*/
.aboutme {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: transparent;
    padding: 10px 225px;
    border-bottom: 1px solid black;
}

.aboutimage {
    display: flex;
    margin: auto;
 }

 .aboutimage img {
    display: block;
    max-width: 500px;
    max-height: 500px;   
    border: 2px solid #000000;
    border-radius: 50%;
 }


/*Work Section*/
.work {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: transparent;
    padding: 10px 110px;
    border-bottom: 1px solid black;
}

.worktext {}

.bigwork{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigwork img {
    border: 2px solid black;
}

.bigwork img:hover {
    opacity: .5;
}

.smallwork{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.smallworkimg li {
    list-style: none;
    display: inline-block;
}

.smallworkimg img {
    display: inline-block;
    max-width: 260px;
    border: 2px solid black;
}

#hrp {
    margin-left: 120px;
}

/*Footer*/

footer {
    width: 100%;
    display: flex;
    padding: 10px 225px;
}
.contact {
    width: 80%;
}


.contact li {
    list-style: none;
    display: inline-block;
}
 .contactlinks {
    list-style: none;
    text-decoration: none;
 }

 .footerbutton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 400;

 }


/*Id's section*/
#name {
    float: left;
    font-size: 200%;
    font-weight: 900;
    display: block;
    text-align: center;  
}

/*MEDIA SECTION FOR OTHER DEVICES*/

@media only screen and (min-width: 320px) and (max-width: 479px){

}

@media only screen and (min-width: 480px) and (max-width: 767px){

}

@media only screen and (min-width: 768px) and (max-width: 991px){

}

@media only screen and (min-width: 992px){
    
}