/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Smooch+Sans&display=swap');

/*General style*/
* {
    box-sizing: border-box;
    background-color: #F9F6EE;
    font-family: 'Montserrat';
    color: #050505;
    margin: 0;
    padding: 0;
}


/*Header*/
header {
    width: 100%;
    display: flex;
    position: fixed;
    padding: 10px 225px;
}

/*Navigation bar*/
nav {
    width: 80%;
    margin-bottom: 0;
    margin-right: 350px;
    border-bottom: 1px solid black;
}

.nav_links {
    float: right;
    list-style: none;

}

.nav_links li {
    display: inline-block;
}

.nav_button {
    padding: 10px 20px;
    border: none;
    background-color: #D4D6D6;
    cursor: pointer;
    list-style: none;
    font-size: 24px;
    font-weight: 400;
}

.nav_button:hover {
    color: #D4D6D6;
    background-color: #050505;
}

.nav_button:hover {
    background-color:rgba(0, 0, 0,);
}

#name {
    font-variant: small-caps;
    word-spacing: 15px;
    font-size: 40px;
    float: left;
    font-weight: 900;
    display: block;
    text-align: center;  
}

/*END NAV BAR*/
/*END HEADER*/


/*Body Section*/
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 125%;
    background: transparent;
}

h4 {
    font-size: 90%;
    background: transparent;
}


p {
    font-size: 75%;
    background: transparent;
}


/*About Me Section*/
.aboutme {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 2;
    justify-content: space-between;
    background: transparent;
    padding: 10px 110px;
    border-bottom: 1px solid black;
}

.aboutflex {
    width: auto;
    font-size: 32px;
}

.aboutimage {
    display: flex;
    margin: auto;
    padding-top: 25px;
 }

 .aboutimage img {
    display: block;
    max-width: 500px;
    max-height: 500px;   
    border: 2px solid #000000;
    border-radius: 50%;
 }


/*Work Section*/
.work {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 2;
    justify-content: space-between;
    background: transparent;
    padding: 10px 110px;
    border-bottom: 1px solid black;
}

.worktext {
    font-size: 32px;
}

.titletextbig {
    font-size: 24px;
}

.titletext {
    font-size: 24px;
    text-align: center;
}

.work h4 {
    display: flex;
    width: auto;
}

.bigwork{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000;
}

.bigwork img {
    border: 2px solid black;
}

.bigwork img:hover {
    opacity: .5;
}

.smallwork{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.smallworkimg li {
    list-style: none;
    display: inline-block;
    background-color: #D4D6D6;
}

.smallworkimg p {
    background-color: #D4D6D6;
}

.smallworkimg img {
    display: inline-block;
    max-width: 260px;
    border: 2px solid black;
}

#animag {
    margin-left: 120px;
}

#workds:hover {
    opacity: .5;
}

#rpgen:hover {
    opacity: .5;
}

/*Footer*/

footer {
    width: 100%;
    display: flex;
    padding: 10px 225px;
}
.contact {
    width: 80%;
    font-size: 32px;
}

.contact li {
    list-style: none;
    display: inline-block;
}
 .contactlinks {
    list-style: none;
    text-decoration: none;
 }

 .footerbutton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    background-color: #D4D6D6;
 }

 .footerbutton:hover {
     color: #D4D6D6;
     background-color: #050505;
 }


/*MEDIA SECTION FOR OTHER DEVICES*/

@media only screen and (min-width: 320px) and (max-width: 479px){
    .workimages {
        max-width: 320px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .workimages {
        max-width: 480px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .workimages {
        max-width: 768px;
    }

}